<h1> Churn Classification</h1>

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
data=pd.read_csv('Churn_Modelling.csv')

In [3]:
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [7]:
x=data.iloc[:,3:13].values
y=data.iloc[:,13].values

In [8]:
print(x)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [9]:
print(y)

[1 0 1 ... 1 1 0]

In [15]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
label=LabelEncoder()
x[:,2]=label.fit_transform(x[:,2])
print(x)

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]

In [23]:
from sklearn.compose import ColumnTransformer
ct=ColumnTransformer([('ohe',OneHotEncoder(),[1])],remainder='passthrough')

In [24]:
x=np.array(ct.fit_transform(x),dtype=np.str)

<ipython-input-24-dca8c2576440>:1: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  x=np.array(ct.fit_transform(x),dtype=np.str)

In [25]:
x=x[:,1:]

In [26]:
print(x)

[['0.0' '0.0' '0.0' ... '1' '1' '101348.88']
 ['0.0' '1.0' '0.0' ... '0' '1' '112542.58']
 ['0.0' '0.0' '0.0' ... '1' '0' '113931.57']
 ...
 ['0.0' '0.0' '0.0' ... '0' '1' '42085.58']
 ['1.0' '0.0' '1.0' ... '1' '0' '92888.52']
 ['0.0' '0.0' '0.0' ... '1' '0' '38190.78']]

In [27]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=0)

In [29]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
xtrain=sc.fit_transform(xtrain)
xtest=sc.transform(xtest)

In [42]:
pd.DataFrame(xtest)

,0,1,2,3,4,5,6,7,8,9
0,1.627770,-0.574271,-1.113392,-0.394017,0.986971,0.859622,-0.873377,0.660114,0.976281,1.621859
1,-0.614337,-0.574271,-1.113392,0.076114,-1.084321,0.403122,-0.873377,0.660114,-1.024295,0.504204
2,-0.614337,1.741338,-1.113392,0.264167,0.986971,0.280118,-0.873377,0.660114,0.976281,-0.418656
3,-0.614337,-0.574271,0.898156,-0.676096,-0.393891,0.550977,-0.873377,-1.514890,-1.024295,-0.181079
4,1.627770,-0.574271,0.898156,-0.111938,-0.048675,1.377783,0.801363,0.660114,0.976281,0.625465
...,...,...,...,...,...,...,...,...,...,...
1995,-0.614337,-0.574271,-1.113392,-1.428306,-1.429537,-1.267641,0.801363,0.660114,0.976281,1.414827
1996,-0.614337,-0.574271,-1.113392,-0.394017,0.641755,-1.267641,0.801363,0.660114,-1.024295,-0.505273
1997,-0.614337,1.741338,0.898156,-0.299991,-1.429537,1.284209,0.801363,0.660114,-1.024295,0.727752
1998,1.627770,-0.574271,0.898156,-0.488043,-0.393891,1.042848,-0.873377,0.660114,0.976281,-1.541629
1999,1.627770,-0.574271,0.898156,-0.864148,0.986971,0.799674,-0.873377,0.660114,-1.024295,1.623565

In [50]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Flatten

In [52]:
classifier=Sequential()
classifier.add(Flatten())

In [53]:
classifier.add(Dense(units=6,kernel_initializer='uniform',activation='relu',input_dim=11))

In [54]:
classifier.add(Dense(units=6,kernel_initializer='uniform',activation='relu'))

In [55]:
classifier.add(Dense(units=1,kernel_initializer='uniform',activation='sigmoid'))

In [56]:
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])
# adam perform stchastic gradient descent techniques

In [57]:
classifier.fit(xtrain,ytrain,batch_size=10,epochs=100)

Epoch 1/100
800/800 [==============================] - 2s 1ms/step - loss: 0.4836 - accuracy: 0.7960
Epoch 2/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4246 - accuracy: 0.7960
Epoch 3/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4191 - accuracy: 0.7985
Epoch 4/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4124 - accuracy: 0.8242
Epoch 5/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4028 - accuracy: 0.8301
Epoch 6/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3936 - accuracy: 0.8292
Epoch 7/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3862 - accuracy: 0.8363
Epoch 8/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3798 - accuracy: 0.8425
Epoch 9/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3750 - accuracy: 0.8464
Epoch 10/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3725 - accuracy: 0.8497
Epoch 11/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3692 - accuracy: 0.8491
Epoch 12/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3672 - accuracy: 0.8509
Epoch 13/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3661 - accuracy: 0.8528
Epoch 14/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3645 - accuracy: 0.8497
Epoch 15/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3627 - accuracy: 0.8555
Epoch 16/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3619 - accuracy: 0.8510
Epoch 17/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3609 - accuracy: 0.8536
Epoch 18/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3587 - accuracy: 0.8533
Epoch 19/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3575 - accuracy: 0.8565
Epoch 20/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3566 - accuracy: 0.8561
Epoch 21/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3552 - accuracy: 0.8568
Epoch 22/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3545 - accuracy: 0.8584
Epoch 23/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3527 - accuracy: 0.8581
Epoch 24/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3523 - accuracy: 0.8589
Epoch 25/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3521 - accuracy: 0.8595
Epoch 26/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3515 - accuracy: 0.8589
Epoch 27/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3512 - accuracy: 0.8590
Epoch 28/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3510 - accuracy: 0.8556
Epoch 29/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3499 - accuracy: 0.8581
Epoch 30/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3487 - accuracy: 0.8591
Epoch 31/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3489 - accuracy: 0.8586
Epoch 32/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3489 - accuracy: 0.8594
Epoch 33/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3482 - accuracy: 0.8569
Epoch 34/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3483 - accuracy: 0.8593
Epoch 35/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3482 - accuracy: 0.8579
Epoch 36/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3471 - accuracy: 0.8596
Epoch 37/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3481 - accuracy: 0.8577
Epoch 38/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3478 - accuracy: 0.8601
Epoch 39/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3482 - accuracy: 0.8584
Epoch 40/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3476 - accuracy: 0.8581
Epoch 41/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3466 - accuracy: 0.8597
Epoch 42/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3475 - accuracy: 0.8583
Epoch 43/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3469 - accuracy: 0.8587
Epoch 44/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3479 - accuracy: 0.8595
Epoch 45/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3474 - accuracy: 0.8594
Epoch 46/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3470 - accuracy: 0.8590
Epoch 47/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3466 - accuracy: 0.8571
Epoch 48/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3463 - accuracy: 0.8579
Epoch 49/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3467 - accuracy: 0.8597
Epoch 50/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3456 - accuracy: 0.8587
Epoch 51/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3464 - accuracy: 0.8571
Epoch 52/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3462 - accuracy: 0.8579
Epoch 53/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3466 - accuracy: 0.8587
Epoch 54/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3462 - accuracy: 0.8584
Epoch 55/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3464 - accuracy: 0.8590
Epoch 56/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3449 - accuracy: 0.8584
Epoch 57/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3452 - accuracy: 0.8590
Epoch 58/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3461 - accuracy: 0.8587
Epoch 59/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3455 - accuracy: 0.8605
Epoch 60/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3458 - accuracy: 0.8581
Epoch 61/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3450 - accuracy: 0.8595
Epoch 62/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3452 - accuracy: 0.8593
Epoch 63/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3450 - accuracy: 0.8586
Epoch 64/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3459 - accuracy: 0.8585
Epoch 65/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3460 - accuracy: 0.8591
Epoch 66/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3451 - accuracy: 0.8601
Epoch 67/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3461 - accuracy: 0.8576
Epoch 68/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3456 - accuracy: 0.8591
Epoch 69/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3453 - accuracy: 0.8593
Epoch 70/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3454 - accuracy: 0.8604
Epoch 71/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3451 - accuracy: 0.8587
Epoch 72/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3441 - accuracy: 0.8585
Epoch 73/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3443 - accuracy: 0.8594
Epoch 74/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3457 - accuracy: 0.8585
Epoch 75/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3439 - accuracy: 0.8595
Epoch 76/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3446 - accuracy: 0.8594
Epoch 77/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3448 - accuracy: 0.8586
Epoch 78/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3448 - accuracy: 0.8595
Epoch 79/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3432 - accuracy: 0.8602
Epoch 80/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3437 - accuracy: 0.8580
Epoch 81/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3445 - accuracy: 0.8566
Epoch 82/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3445 - accuracy: 0.8622
Epoch 83/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3445 - accuracy: 0.8597
Epoch 84/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3439 - accuracy: 0.8580
Epoch 85/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3441 - accuracy: 0.8608
Epoch 86/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3446 - accuracy: 0.8591
Epoch 87/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3445 - accuracy: 0.8589
Epoch 88/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3441 - accuracy: 0.8583
Epoch 89/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3447 - accuracy: 0.8589
Epoch 90/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3447 - accuracy: 0.8602
Epoch 91/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3445 - accuracy: 0.8595
Epoch 92/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3443 - accuracy: 0.8575
Epoch 93/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3442 - accuracy: 0.8601
Epoch 94/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3436 - accuracy: 0.8591
Epoch 95/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3433 - accuracy: 0.8605
Epoch 96/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3438 - accuracy: 0.8596
Epoch 97/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3431 - accuracy: 0.8586
Epoch 98/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3442 - accuracy: 0.8591
Epoch 99/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3434 - accuracy: 0.8587
Epoch 100/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3444 - accuracy: 0.8575

In [59]:
pred=classifier.predict(xtest)
ypred=(pred>0.5)

63/63 [==============================] - 0s 3ms/step

In [60]:
print(ypred)

[[False]
 [False]
 [False]
 ...
 [False]
 [False]
 [False]]

In [61]:
from sklearn.metrics import confusion_matrix,accuracy_score
print(confusion_matrix(ytest,ypred))
print(accuracy_score(ypred,ytest))

[[1559   36]
 [ 226  179]]
0.869